a{
    text-decoration: none;
}
button{
    outline: none;
}
.button{
    text-align: center;
    margin: 270px auto 0 auto;
    // margin: 380px auto 0 auto;
    @include mq($xi){
        margin-top: 465px;
    }
    @include mq($sm){
        margin-top: 420px;
    }
    @include mq($tw){
        margin-top: 420px;
    }
    @include mq($lg){
        grid-column: 3/5;
        grid-row: 2;
        // margin-top: 90px;
        margin-top: 180px;
        margin-left: auto;
        margin-right: auto;
    }

}

// button on landing page
#service-button{
    padding: 8px 80px;
    // padding: 10px 150px;
    border: 2px solid #f1f1f1f1;
    border-radius: 50px;
    background-color: transparent;
    color: #f1f1f1f1;
    transition-duration: 600ms;
    opacity: 0;

    &:hover{
        background-color: rgb(255, 255, 255);
        color: #1f1f1f;
        cursor: pointer;
    }
    @include mq($xi){
        padding: 8px 100px;
        border: 2px solid #f1f1f1f1;
    }
    @include mq($sm){
        padding: 8px 110px;

    }
    @include mq($md){
        padding: 20px 80px;
        border: 3px solid #f1f1f1f1;
    }
}

// Make appointment button in service section
.schedule-button{
    padding: 8px 80px;
    // padding: 10px 135px;
    margin: 0 25px;
    display: block;
    background-color: transparent;
    color: #f1f1f1;
    // border: 2px solid rgb(112, 112, 112);
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    transition-duration: 600ms;
    font-size: 0.8em;
    &:hover{
        background-color: rgb(255, 255, 255);
        color: #1f1f1f;
        cursor: pointer;
    }
    @include mq($xi){
        padding: 10px 100px;
        margin: 0 auto;
    }
    @include mq($sm){
        padding: 10px 105px;
        margin: 0 auto;
    }
    @include mq($md){
        background-color: transparent;
        display: inline-block;
        margin: 0 50px;
        padding: 10px 25px;
        font-size: 1em;
    }
}
#email{
    display: inline;
    background-color: rgb(0, 132, 255);
    color: #fff;
    // margin: 60px 50px 40px 50px;
    padding: 10px 105px;
    margin: 25px 0;
    // padding: 15px 165px;
    border-radius: 50px;
    border: none;
    &:hover{
        cursor: pointer;
    }
    @include mq($sm){
        padding: 12px 140px;
        margin: 45px 0;
    }
    @include mq($tw){
        padding: 10px 130px;
    }
    @include mq($md){
        padding: 15px 125px;
        margin: 80px 50px;
    }
}
#phone{
    display: inline;
    border: 2px solid black;
    padding: 8px 70px;
    // padding: 14px 130px;
    border-radius: 50px;
    color: #1f1f1f;
    @include mq($sm){
        padding: 10px 105px;
    }
        
    @include mq($tw){
        padding: 8px 95px;
    }
    @include mq($md){
        padding: 14px 90px;
    }
}
.phone-link{
    text-decoration: none;
}