#main-image{
    background-image: url("../images/main-car-small.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    @include mq($xi){
        height: 90vh;
    }
    @include mq($sm){
        background-position: 50% -90%;
        height: 90vh;
    }
    @include mq($mb){
        background-image: url("../images/main-car.jpg");
        margin-top: 52px;
        background-position: 100% 65%; 
    }
}
#gradient{
    // background-position: 50% 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1.0), rgba(0, 0, 0, 0) 50%);
    @include mq($lg){
        background-image: linear-gradient(to left, rgba(0,0,0,1.0), rgba(0, 0, 0, 0) 50%);
    }
}
.logo-mini{
    margin: 15px 40px;
    height: 20px;
    float: left;
    @include mq($md){
        height: 25px;
        margin: 15px 40px;
    }
}

figure{
    margin: 0;
    overflow: hidden;
    height: 200px;
    width: 100vw;
    // height: 20.5em;
    @include mq($sm){
        height: 270px;
    }
    @include mq($md){
        height: 450px;
    }
    @include mq($lg){
        margin-top: -24px;
        height: 450px;
    }
}

#white-car{
    position: relative;
    width: 100%;
    // margin-bottom: -4px;
    border: none;
    @include mq($lg){
        bottom: 150px;
    }
    @include mq($mb){
        bottom: 300px;
    }
}
#exterior{
    width: 100%;
    top: 300px;
    // overflow: hidden;
}
#interior{
    width: 100%;
    top: 0px;
    position: relative;
    bottom: 250px;
    @include mq($lg){
        top: -200px;
    }
}
#engine{
    width: 100%;
    position: relative;
    @include mq($lg){
        bottom: 200px;
    }

}

i{
    color: #fff;
    font-size: 2em;
    align-self: center;
}


// arrow animation
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    30%{
        transform: translateY(8px);
    }
    60%{
        transform: translateY(3px);
    }
}
#arrow-link{
    animation: bounce 2s infinite ease-in;
    grid-column: 3;
    padding: 5px;

    #arrow{
        display: none;
        text-align: center;
    }
    @include mq($md){

        padding: 5px;
        #arrow{
            display: block;
            height: 75px;
            margin-top: 110px;
            margin-right: 400px;
    
        }
    }
    @include mq($mb){
        #arrow{
            margin-top: 50px;
            z-index: 1000;
        }

    }

}
.fa-instagram{
    &:hover{
        cursor: pointer;
    }
}

.about-image{
    overflow: visible;
    img{
    width: 100vw;
    }

    @include mq($lg){
        img{
            width: 40vw;
        }
        width: 100%;
        margin: 90px;
        margin-bottom: 20px;
        .attribute{
            margin-left: 25%;
        }
    }
}

.contact-image{
    width: 100%;
    padding-bottom: 25px;
    overflow: visible;
    text-align: center;
    margin-bottom: 18%;
    @include mq($md){
        margin: 50px auto 100px;
    }
    @include mq($lg){
        margin: 0px auto 320px;
    }
    img{
        width: 100vw;
        overflow: visible; 
        width: 70%;

        @include mq($mb){
            width: 75%;
            padding: 25px;
        }
    }

}