#main-nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #181818;
    height: 52px;

    ul{
        text-align: center;
        display: none;
        @include mq($md){
            display: block;
        }
    }
    li{
        
        list-style: none;    
        color: #a7a7a7f1;

        transition-duration: 500ms;
        cursor: pointer;
        &:hover{
            // background-color: rgb(173, 173, 173);
            // color: rgb(59, 59, 59);
            // border-radius: 3px;
            cursor: pointer;
        }
    }
    @include mq($md){
        ul{
            // display: flex;
            // justify-content: space-around;
            // float: right;
            padding-right: 50px;
            a{
                padding: 25px;
            }
        }
        li{
            display: inline-block;
            padding: 5px 10px;
            margin: 0 20px;
        }
    }
}

#hamburger{
    float: right;
    padding: 5px;
    margin: 10px;
    @include mq($md){
      display: none;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .line{
    padding: 1px 0;
    margin: 5px 0;
    width: 24px;
    background-color: rgb(230, 230, 230);
    z-index: 1000;
  }

  // nav link styles after .active class is added when clicking hamburger
  .active{
    display: "block";
    background-color: #181818;
      li{
        padding: 25px;
        text-align: center;
        // margin for list items, except for first item to offset margin for mini logo
        &:nth-of-type(n+2){
            margin-right: 30px;
        }
        @include mq($xs){
            a{
                padding: 25px 90px;
            }
        }
        @include mq($sm){
            a{
                padding: 25px 115px;
            }
        }

      }
  }