#landing-wrapper{
    grid-template-columns: 1fr;

    @include mq($mb){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: repeat(auto-fill, 1fr);
    }

}

.grid-container{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 

    "navigation"
    "header"
    "main"
    "footer";

    @include mq($mb){


        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
    
        "navigation navigation navigation navigation"
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    }

}

nav{
    grid-area: navigation;
}
.navbar{
    grid-area: navigation;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}
// .service-info{
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
// }
#about{
    display: grid;
    @include mq($lg){
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 100px 400px 150px;
    }
}
.about{
    &-image{
        @include mq($lg){
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    &-description{
        @include mq($lg){
            display: inline-block;
            grid-column: 2/4;
            grid-row: 2/3;
        }
    }
}
#contact{
    margin-bottom: 70px;

    @include mq($mb){
        margin-top: 100px;
        margin-bottom: 150px;
        display: grid;
        grid-template-columns: 60% 1fr;
    }
}
.contact-description{
    text-align: center;
    @include mq($mb){
        text-align: left;
        margin-top: 175px;
    }
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    height: 55px;
    padding: 25px;
    @include mq($md){
        height: 75px;
    }
}