// * {
//     overflow-x: hidden;
// }
.title{
    text-align: center;
}
h1{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 3/5;
    grid-row: 1;
    font-size: 8em;
    color: #f1f1f1f1;
    margin: 60px 0 0;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 3/5;
    grid-row: 2;
    font-size: 3.2em;
    color: #f1f1f1f1;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 3/5;
    grid-row: 2;
    font-size: 1.1em;
    color: #f1f1f1f1;
    margin: 80px 45px 0 50px;
    margin-left: auto;
    margin-right: auto;
}

// nav bar font
#main-nav{
    li{
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
    }
}

#service-button{
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    
}
.service-title{
    // font-family: 'Ubuntu', sans-serif;
    position: absolute;
    z-index: 1;
    top: 800px;
    left: 150px;
    text-transform: uppercase;
    font-size: 4em;
    overflow: hidden;
    // color: rgb(156, 156, 156);
}

// strip container for service section
.service-info{
    padding: 50px 100px 70px 100px;
    width: 100%;
    // background-color: #f7f7f7;
    // background-color: #111111;
    background-color: #0f0f0f;
    h2{
        display: inline-block;
        margin: 20px 50px;
        // float: left;
        // padding: 70px 0;
        // margin: 0;
        // margin-left: 200px;
        // color: #242424;
        color: #f1f1f1;
    }
    p{
        display: inline-block;
        margin: 20px 50px;
        // float: right;
        // padding: 70px 200px;
        // color: #242424;
        color: #f1f1f1;
        width: 38%;
    }
}
a{
    &:link{
        color: #a7a7a7f1;
    }
    &:visited{
        color: #a7a7a7f1;
    }
}
// h2, p, and button in the service section

#contact{
    h2, h3{
        font-family: 'Lato', sans-serif;
        margin: 20px auto;
        color: #000;
    }
}
#email{
    font-family: 'Lato', sans-serif;
}

.contact-card{
    font-family: 'Lato', sans-serif;
}
footer{
    p{
        color: rgb(230, 230, 230);
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}