// * {
//     overflow-x: hidden;
// }
.title{
    text-align: center;
    opacity: 0;
}
h1{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #f1f1f1f1;
    margin: 50px 0 0 0;
    padding-top: 45px;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
    @include mq($mb){
        grid-column: 3/5;
        grid-row: 1;
        margin: 60px 0 0;
        font-size: 8em;
    }
}
h2{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 3/5;
    grid-row: 2;
    font-size: 2.0em;
    color: #f1f1f1f1;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    @include mq($mb){
        font-size: 3.0em;
    }
}
h3{
    font-family: ltc-bodoni-175, serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 3/5;
    grid-row: 2;
    font-size: 1.1em;
    color: #f1f1f1f1;
    margin-top: 0;

    margin-left: auto;
    margin-right: auto;
    @include mq($mb){
        margin: 60px 45px 0 0;
        text-align: left;
    }
}

// nav bar font
#main-nav{
    li{
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
    }
}

#service-button{
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    @include mq($xi){
        font-size: 1.1em;
    }
    
}
.service-title{
    // font-family: 'Ubuntu', sans-serif;
    position: absolute;
    z-index: 1;
    top: 800px;
    left: 150px;
    text-transform: uppercase;
    font-size: 4em;
    overflow: hidden;
    // color: rgb(156, 156, 156);
}

// strip container for service section
.service-info{
    padding: 50px 0px 70px 0px;

    @include mq($md){
        padding: 50px 100px 70px 100px;
    }

    @include mq($lg){
        padding: 50px 25px 70px 25px;
    }
    @include mq($mb){
        padding: 50px 100px 70px 100px;
    }
    width: 100%;
    // background-color: #f7f7f7;
    // background-color: #111111;
    background-color: #0f0f0f;
    h2{
        text-align: left;
        margin: 0px 50px;
        @include mq($md){
            display: inline-block;
            margin: 20px 50px;
        }

        // float: left;
        // padding: 70px 0;
        // margin: 0;
        // margin-left: 200px;
        // color: #242424;
        color: #f1f1f1;
    }
    p{
        font-size: 0.7em;
        text-align: left;
        margin: 40px 50px;
        width: 50%;
        // float: right;
        // padding: 70px 200px;
        // color: #242424;
        color: #f1f1f1;
        font-family: 'Lato', sans-serif;
        line-height: 1.40;
        @include mq($md){
            font-size: 1em;
            text-align: center;
            width: 38%;
            display: inline-block;
        }
    }
}
a{
    &:link{
        color: #a7a7a7f1;
    }
    &:visited{
        color: #a7a7a7f1;
    }
}
// h2, p, and button in the service section
.schedule-button{
    font-family: 'Lato', sans-serif;
}

// About section
.about-description{
    h2{
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        margin: 150px 0px 0 30px;
        color: #1f1f1f;
        @include mq($lg){
            margin-left: 0;
        }
    }
    p{
        font-family: 'Lato', sans-serif;
        margin: 30px 20px 0 30px;
        line-height: 2em;
        @include mq($lg){
            margin-left: 0;
        }
    }
}

// Contact section
#contact{
    // text-align: center;
    @include mq($tw){
        // margin-top: 700px;
    }
    h2, h3{
        font-family: 'Lato', sans-serif;
        // margin: 20px auto;
        color: #000;
    }
    h2{
        color: #000;
        // padding: 25px 15px;
        font-size: 1.5em;
        @include mq($md){
            font-size: 2em;
        }
    }
    h3{
        // text-align: center;
    }
}
#email{
    font-family: 'Lato', sans-serif;
}
.contact-card{
    font-family: 'Lato', sans-serif;
}
// Footer section
footer{
    p{
        color: rgb(230, 230, 230);
        padding: 10px;
        text-align: center;
        margin: 0;
        font-size: 0.8em;
        @include mq($md){
            font-size: 1em;
        }
    }
}

.attribute{
    font-size: 0.01em;
    text-align: center;
}