// media query screen sizes
$xs: 321px; // iphone 5 to X
$xi: 360px; // iphone xs
$tw: 390px; // iphone 12 pro
$sm: 414px; // iPhone Plus/Max sizes
$md: 768px; // iPad
$lg: 1024px; // iPad Pro
$mb: 1280px;
// $xl: 1285px; // Desktop
$xl: 1441px;

// height
$xiHeight: 812px;

// media query landscape sizes
$lxs: 568px; // iphone 5 to X
$lxi: 812px; // iphone xs
$ltw: 844px; // iphone 12 pro
$lsm: 896px; // iPhone Plus/Max sizes
$lmd: 1024px; // iPad 9.7
$llg: 1366px; // iPad Pro 12.9